<div class="header bg-gradient-danger pt-5 pt-md-8">
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <p class="text-white mt-0 mb-5 display-4">
          Place to search the events to gain knowledge
        </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<div class="container-fluid">
  <div class="mt-4">
    <div
      class="card p-4"
      *ngFor="let event of events; first as isFirst"
      [class.mt-4]="!isFirst"
    >
      <h2>{{ event.title }}</h2>
      <p>
        {{ event.description }}
      </p>
      <div class="d-flex align-items-center">
        <div>
          <span class="h3">Skill: </span>
          <span>{{ event.skillName }}</span>
        </div>

        <div class="d-flex align-items-center ml-3">
          <span class="material-icons"> schedule </span
          ><span class="h3 mb-0 pl-1">Date: </span>
          <span class="pl-1">{{ event.date | date }}</span>
        </div>

        <div class="ml-3">
          <button
            *ngIf="showJoin(event.date)"
            class="btn btn-primary"
            [routerLink]="['meeting/' + event.id]"
          >
            JOIN
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<button mat-fab class="md-fab-bottom-right" (click)="addEvent()">
  <mat-icon>add</mat-icon>
</button>
