<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
   
</div>



<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
            
          <h3 class="mb-0">Categories</h3>
        </div>
        <div *ngIf="isLoading">
            <mat-progress-bar mode="query"></mat-progress-bar>
          </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories$ | async">
                <td>{{category.name}}</td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
