<div class="header bg-gradient-danger pt-5 pt-md-8">
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <!-- <div class="col-lg-12 col-md-10">
        <p class="text-white mt-0 mb-5 display-4">Event details here</p>
      </div> -->
    </div>
  </div>
</div>

<div class="video-section" id="video-call">
  <!-- <div class="my-video peers"> -->
  <video
    class="my-video peers"
    id="my-camera"
    autoplay="autoplay"
    muted="true"
  ></video>
  <!-- </div> -->
  <!-- <div id="peer-list" class="d-flex"> -->
  <ng-container
    *ngIf="
      peers?.length !== undefined && peers.length > 0;
      else waitingTemplate
    "
  >
    <ng-container *ngFor="let peer of peers">
      <div class="peers">
        <video [id]="peer" autoplay="autoplay" muted="true"></video>
      </div>
    </ng-container>
  </ng-container>
</div>
<!-- </div> -->

<div class="d-flex p-6 justify-content-center">
  <span class="material-icons danger"> call_end </span>
  <h3 class="pl-3 danger cursor-pointer" [routerLink]="['/events']">End Call</h3>
</div>

<ng-template #waitingTemplate>
  <video
    class="my-video peers placeholder-waiting"
    autoplay="autoplay"
    muted="true"
  ></video>
</ng-template>

<!-- 
<button (click)="connect()">Connect</button>
<button *ngIf="isConnectionEstablished" (click)="call()">Call</button> -->
