.navbar-brand img {
    height: 50px;
}

.navbar-collapse-header {
    display: none
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        padding:.625rem 0;
        color: #172b4d!important
    }

    .navbar-nav .dropdown-menu {
        box-shadow: none;
        min-width: auto
    }

    .navbar-nav .dropdown-menu .media svg {
        width: 30px
    }

    .navbar-collapse {
        width: calc(100% - 1.4rem);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1050;
        margin: .7rem;
        overflow-y: auto;
        height: auto!important;
        opacity: 0
    }

    .navbar-collapse .navbar-toggler {
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        padding: 0
    }

    .navbar-collapse .navbar-toggler span {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        opacity: 1;
        background: #283448
    }

    .navbar-collapse .navbar-toggler :nth-child(1) {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }

    .navbar-collapse .navbar-toggler :nth-child(2) {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg)
    }

    .navbar-collapse .navbar-collapse-header {
        display: block;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid rgba(0,0,0,.1)
    }

    .navbar-collapse .collapse-brand img {
        height: 36px
    }

    .navbar-collapse .collapse-close {
        text-align: right
    }

    .navbar-collapse.collapsing,.navbar-collapse.show {
        padding: 1.5rem;
        border-radius: .25rem;
        background: #fff;
        box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.15),0 5px 15px rgba(0,0,0,.1);
        -webkit-animation: .2s forwards show-navbar-collapse;
        animation: .2s forwards show-navbar-collapse
    }

    .navbar-collapse.collapsing-out {
        -webkit-animation: .2s forwards hide-navbar-collapse;
        animation: .2s forwards hide-navbar-collapse
    }
}