<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg custom-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary bg-gradient-danger">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img
                src="./assets/logo/logo.png"
                style="width: 200px"
                class="img-fluid"
              />
              <p class="lead text-white sub-heading">
                Place to share & gain knowledge with highly secured video
                conferencing.
              </p>

              <div class="btn-wrapper mt-5">
                <a
                  href="#section-components"
                  class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0"
                >
                  <span class="btn-inner--icon"
                    ><i class="ni ni-books"></i
                  ></span>
                  <span class="btn-inner--text">Learn More</span>
                </a>
                <a
                  href="https://github.com/yuvgeek/video-peek"
                  class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0"
                  target="_blank"
                >
                  <span class="btn-inner--icon"
                    ><i class="fa fa-github"></i
                  ></span>
                  <span class="btn-inner--text">
                    <span class="text-warning">Star us</span> on Github</span
                  >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <section class="section section-components bg-white">
    <section class="section section-components pb-0" id="section-components">
      <h2 class="mb-5 display-2 text-underline text-center">
        <span>Built with</span>
      </h2>

      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img src="./assets/img/home/auth0.png" [width]="130" />
            <h2>Auth0</h2>
            <p>
              Auth0 is an easy to implement, adaptable authentication and
              authorization platform. Auth0 is the first identity management
              platform for application builders, and the only identity solution
              needed for custom-built applications.
            </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button"
                >View details »</a
              >
            </p>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img src="./assets/img/home/webrtc.png" [width]="177" />

            <h2>WebRTC</h2>
            <p>
              With WebRTC, you can add real-time communication capabilities to
              your application that works on top of an open standard. It
              supports video, voice, and generic data to be sent between peers,
              allowing developers to build powerful voice- and
              video-communication solutions.
            </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button"
                >View details »</a
              >
            </p>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img
              src="https://angular.io/assets/images/logos/angular/angular.png"
              [width]="150"
            />
            <h2>Angular</h2>
            <p>
              Angular is a TypeScript-based free and open-source web application
              framework led by the Angular Team at Google and by a community of
              individuals and corporations. Angular is a complete rewrite from
              the same team that built AngularJS.
            </p>
            <p>
              <a class="btn btn-secondary" href="#" role="button"
                >View details »</a
              >
            </p>
          </div>
          <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              Events.
              <span class="text-muted">Create or join to learn.</span>
            </h2>
            <p class="lead">
              Events page provide users to access the list of available events
              to join. If you want to share your knowledge, you can create a new
              event and add to it. The events can be filtered out using Skill
              Category.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="https://cdn.hashnode.com/res/hashnode/image/upload/v1630426972462/gGpRaKeEd.png?auto=compress"
              width="500"
            />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">
              Oh yeah, Skills.
              <span class="text-muted">List of categories.</span>
            </h2>
            <p class="lead">
              All the events are grouped by Skill. This helps the user to filter
              out the events they wanted to learn/contribute.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img
              src="https://cdn.hashnode.com/res/hashnode/image/upload/v1630426810661/4TZFEb87O.png?auto=compress"
              width="400"
            />
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              And lastly, this one.
              <span class="text-muted">Meeting Screen.</span>
            </h2>
            <p class="lead">
              Multiple users can join the any event. With WebRTC, we get video
              access based on user permission before proceeding it. We provide
              End Call feature to exit from the existing event.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="https://cdn.hashnode.com/res/hashnode/image/upload/v1630427699734/yb2eSW_Bc.png?auto=compress"
              width="600"
            />
          </div>
        </div>

        <hr class="featurette-divider" />

        <!-- /END THE FEATURETTES -->
      </div>
    </section>
  </section>
</main>
